<head>
  <%- include('../partials/head'); %>
</head>

<body id="profilePage">
  <% if(activeUser) { %>
    <%- include('../partials/topnavUser'); %>
  <% } else { %>
    <%- include('../partials/topnav'); %>
  <% } %>
    <div class="uk-container" uk-height-viewport="expand: true">
      <main>
        <div class="uk-container-small uk-margin-auto">
          <div class="uk-grid-small uk-height-match" uk-height-match uk-grid>
            <div class="uk-width-1-6">
              <i class="fad fa-user-circle fa-7x uk-margin-bottom"></i><br/>
              <span class="hidden-link editProfile"><i class="fal fa-edit " ></i> Edit Profile</span>
            </div>
            <div class="uk-width-5-6">
              <p class="uk-position-relative uk-position-center-left">
                <form class="profileData ">
                  <div class="uk-text-lead" id="profileInfo">
                    <p class="uk-margin-remove"><%= user.FirstName %>&nbsp;<%= user.LastName %></p>
                    <p class="uk-margin-remove"><%= user.UserName %>&nbsp;#<%= user.FlagNumber %></p>
                    <p class="uk-margin-remove"><%= user.Email %></p>
                    <p class="uk-margin-remove"><%= user.ZipCode %></p>
                  </div>
                  <div class="hide-me" id="editProfileInfo">
                    <div class="uk-grid-small" uk-grid>
                      <div class="uk-form-stacked">
                        <label class="uk-form-label" for="FirstName">First Name</label>
                        <input class="uk-input uk-width-1-1" type="text" id="FirstName" value="<%= user.FirstName %>">
                      </div>
                      <div class="uk-form-stacked">
                        <label class="uk-form-label" for="LastName">Last Name</label>
                        <input class="uk-input uk-width-1-1" type="text" id="LastName" value="<%= user.LastName %>">
                      </div>
                    </div>
                    <div class="uk-grid-small" uk-grid>
                      <div class="uk-form-stacked">
                        <label class="uk-form-label" for="UserName">Username</label>
                        <input class="uk-input uk-width-1-1" type="text" id="UserName" value="<%= user.UserName %>">
                      </div>
                      <div class="uk-form-stacked">
                        <label class="uk-form-label" for="FlagNumber">Flag Number</label>
                        <input class="uk-input uk-width-1-1" type="text" id="FlagNumber" value="<%= user.FlagNumber %>">
                      </div>
                    </div>
                    <div class="uk-grid-small" uk-grid>
                      <div class="uk-form-stacked">
                        <label class="uk-form-label" for="Email">Email</label>
                        <input class="uk-input uk-width-1-1" type="text" id="Email" value="<%= user.Email %>">
                      </div>
                      <div class="uk-form-stacked">
                        <label class="uk-form-label" for="ZipCode">Zip Code</label>
                        <input class="uk-input uk-width-1-1" type="text" id="ZipCode" value="<%= user.ZipCode %>">
                      </div>
                    </div>
                    <div style="margin-top: 16px;">
                      <button class="uk-button uk-button-default uk-button-small editProfile">Cancel</button>
                      <button class="uk-button uk-button-default uk-button-small" type="button" 
                        id="saveProfileEdits" data-userid="<%= user.id %>">Save</button>
                    </div>
                  </div>
                </form>
              </p>
            </div>
          </div>
          <div uk-grid>
            <div class="uk-width-1-2@s">
              <h5>My Stats</h5>
              <div class="uk-grid-small" uk-grid>
                <div class="uk-align-left" uk-tooltip="Subtracts latest approved Odometer submission from the first approved one.">
                  Total Mileage: <%= (mileageRidden).toLocaleString('en') %>
                </div>
                <div class="uk-align-right" uk-tooltip="Only counts approved Grand Tour submissions.">
                  Total Points: <%= (pointsEarned).toLocaleString('en') %>
                </div>
              </div>
              <div class="uk-grid-small uk-child-width-1-4@s uk-flex-center uk-text-center" uk-grid>
                <% bonuses.forEach(function(bonus) { %>
                  <div>
                    <div class="uk-card uk-card-default uk-card-body <%= bonus.completed %>"><%= bonus.BonusCode %> </div>
                  </div>
                <% }) %>
              </div>
            </div>
            <div class="uk-width-1-2@s">
              <h5>My Garage</h5>
              <table class="uk-table uk-table-striped uk-table-small">
                <thead>
                  <tr>
                    <th>Bike Name</th>
                    <th>Year</th>
                    <th>Make</th>
                    <th>Model</th>
                  </tr>
                </thead>
                <tbody>
                  <% bikes.forEach(function(Bike) { %>
                    <tr>
                      <td>
                        <%= Bike.BikeName %>
                      </td>
                      <td>
                        <%= Bike.Year %>
                      </td>
                      <td>
                        <%= Bike.Make %>
                      </td>
                      <td>
                        <%= Bike.Model %>
                      </td>
                    </tr>
                    <% }) %>
                </tbody>
              </table>
              <div class="uk-align-right">
                <button type="button" id="addBikeButton" class="uk-button uk-button-default">Add Bike</button>
              </div>
              <form class="uk-grid-small uk-form-stacked hide-me" id="addBikeForm" uk-grid>
                <div class="uk-width-1-1@s">
                  <label class="uk-form-label" for="BikeName">Bike Name</label>
                  <input class="uk-input" id="BikeName" rows="5" placeholder="Mr. Ed"></input>
                </div>
                <div class="uk-width-1-5@s">
                  <label class="uk-form-label" for="BikeYear">Year</label>
                  <input class="uk-input" id="BikeYear" type="text" placeholder="2038">
                </div>
                <div class="uk-width-4-5@s">
                  <label class="uk-form-label" for="BikeMake">Make</label>
                  <input class="uk-input" id="BikeMake" type="text" placeholder="Honda">
                </div>
                <div class="uk-width-1-1@s">
                  <label class="uk-form-label" for="BikeModel">Model</label>
                  <input class="uk-input" id="BikeModel" rows="5" placeholder="Gold Wing"></input>
                </div>
                <div class="uk-width-2-3@s">
                  &nbsp;
                </div>
                <div class="uk-width-1-3@s">
                  <button type="button" id="saveNewBikeButton" class="uk-button uk-button-default">Save Bike</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </main>
    </div>
    <footer>
      <%- include('../partials/footer'); %>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="/js/profile.js"></script>
</body>