<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <% if(activeUser) { %>
    <%- include('../partials/topnavUser'); %>
  <% } else { %>
    <%- include('../partials/topnav'); %>
  <% } %>
    <div class="uk-container" uk-height-viewport="expand: true">
      <main>
        <h1>Rally Submission Reviewer</h1>
        <div class="uk-container">
          <!-- Top Half -->
          <% if(pendingBonusCount) { %>
            <%- include('../partials/reviewItemsPending'); %>
          <% } else { %>
              <%- include('../partials/reviewItemsDone'); %>
          <% } %>
          <hr>
          <!-- Bottom Half -->
          <div class="uk-margin-top uk-margin-bottom">
            <h4>Previous Submissions</h4>
          </div>
          <div
            class="uk-child-width-1-2@s uk-child-width-1-3@m uk-child-width-1-4@l uk-grid uk-flex-top uk-flex-wrap-top"
            uk-grid="masonry: true">
            <% handledSubmissions.forEach(function(submission) { %>
              <div>
                <div class="uk-card uk-card-default">
                  <div class="uk-card-media-top">
                    <img src="/uploads/<%= submission.imageName %>" alt="">
                  </div>
                  <div class="mm-card-badge-left mm-label mm-flag">
                    <%= submission.FlagNumber %>
                  </div>
                  <% if(submission.iStatus === 1) { %>
                    <div class="mm-card-badge-right uk-label uk-label-success">Approved</div>
                  <% } else if(submission.iStatus === 2) { %>
                    <div class="mm-card-badge-right uk-label uk-label-danger">Rejected</div>
                  <% } else {} %>
                  <div class="uk-card-body">
                    <div class="uk-grid-small" uk-grid>
                      <div class="uk-width-expand@s uk-text-left">
                        <% if(submission.bonus_id) { %>
                          <span class="fad fa-paw fa-lg"></span>
                        <% } else { %>
                          <span class="fad fa-tachometer-alt fa-lg"></span>
                        <% } %>
                        </div>
                      <div class="uk-width-auto@s uk-text-right">
                        <span class="uk-text-meta">
                          <%= submission.createdAt %>
                        </span>
                      </div>
                    </div>
                    <div class="uk-grid-small" uk-grid>
                      <div class="uk-width-auto@s uk-text-left">
                        <% if(submission.bonus_id) { %>
                          <span class="uk-text-meta"><%= submission.Value %> pts</span>
                        <% } else { %>
                          <span class="uk-text-meta"><%= submission.odoValue %> mi</span>
                        <% } %>
                      </div>
                      <div class="uk-width-expand@s uk-text-right">
                        <% if(submission.BonusCode) { %>
                          <span class="uk-text-meta">
                            <%= submission.BonusCode %>
                          </span>
                        <% } else { %>
                          <span class="uk-text-meta">ODO</span>
                        <% } %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% }) %>
<!-- Placeholder Content Below -->
            <div>
              <div class="uk-card uk-card-default">
                <div class="uk-card-media-top">
                  <img src="images/RESC.jpg" alt="">
                </div>
                <div class="mm-card-badge-left mm-label mm-flag">17</div>
                <div class="mm-card-badge-right uk-label uk-label-success">Approved</div>
                <div class="uk-card-body">
                  <div class="uk-grid-small" uk-grid>
                    <div class="uk-width-expand@s uk-text-left">
                      <span class="fad fa-paw fa-lg"></span>
                    </div>
                    <div class="uk-width-auto@s uk-text-right">
                      <span class="uk-text-meta">27 FEB 2021 @ 19:28</span>
                    </div>
                  </div>
                  <div class="uk-grid-small" uk-grid>
                    <div class="uk-width-auto@s uk-text-left">
                      <span class="uk-text-meta">1,000 pts</span>
                    </div>
                    <div class="uk-width-expand@s uk-text-right">
                      <span class="uk-text-meta">RESC</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div class="uk-card uk-card-default">
                <div class="uk-card-media-top">
                  <img src="images/LDRR.jpg" alt="">
                </div>
                <div class="mm-card-badge-left mm-label mm-flag">17</div>
                <div class="mm-card-badge-right uk-label uk-label-success">Approved</div>
                <div class="uk-card-body">
                  <div class="uk-grid-small" uk-grid>
                    <div class="uk-width-expand@s uk-text-left">
                      <span class="fad fa-paw fa-lg"></span>
                    </div>
                    <div class="uk-width-auto@s uk-text-right">
                      <span class="uk-text-meta">27 FEB 2021 @ 19:28</span>
                    </div>
                  </div>
                  <div class="uk-grid-small" uk-grid>
                    <div class="uk-width-auto@s uk-text-left">
                      <span class="uk-text-meta">2,000 pts</span>
                    </div>
                    <div class="uk-width-expand@s uk-text-right">
                      <span class="uk-text-meta">LDDR</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div class="uk-card uk-card-default">
                <div class="uk-card-media-top">
                  <img src="images/ODO1.jpg" alt="">
                </div>
                <div class="mm-card-badge-left mm-label mm-flag">16</div>
                <div class="mm-card-badge-right uk-label uk-label-danger">Rejected</div>
                <div class="uk-card-body">
                  <div class="uk-grid-small" uk-grid>
                    <div class="uk-width-expand@s uk-text-left">
                      <span class="fad fa-tachometer-alt fa-lg"></span>
                    </div>
                    <div class="uk-width-auto@s uk-text-right">
                      <span class="uk-text-meta">27 FEB 2021 @ 19:28</span>
                    </div>
                  </div>
                  <div class="uk-grid-small" uk-grid>
                    <div class="uk-width-auto@s uk-text-left">
                      <span class="uk-text-meta">95,881 mi</span>
                    </div>
                    <div class="uk-width-expand@s uk-text-right">
                      <span class="uk-text-meta">ODO</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <footer>
        <%- include('../partials/footer'); %>
      </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="js/review.js"></script>
</body>